/* START:: General Responsive css */
    @media screen and (max-width:1400px){

    }

    @media screen and (max-width:1200px){
        .mail-details-header .mail-profile-name, .mail-details-header .mail-profile-id{
            display: none !important;
        }

        /* START:: Setting */
        .setting-signature-box {max-width: 100% !important;}
        .setting-features {padding: 20px !important;}
        .Settings-main .setting-quill .ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content {border-radius: 5px !important;margin-top:0 !important;}
        .setting-features .ck.ck-reset.ck-editor.ck-rounded-corners {border:0;}
        .setting-features .ck.ck-reset.ck-editor.ck-rounded-corners{height: auto !important;}
            /* END:: Setting */
        }

    @media screen and (max-width:992px) {
        /* START:: header */
            .mail-details-header {padding: 6px 10px 6px 26px;}
        /* END:: header */

        /* START:: Top Search */
           .Calendar-main .top-search {width: 100%;position: absolute;background: #F5F5F5;left: 0;top: 0;height: 100%;z-index: 1;border-bottom: 1px solid #D0D9DE;z-index: 25;margin: 0; opacity: 0;visibility: hidden;}
            .Calendar-main .show-search{opacity: 1;visibility: visible;transform: scale(1) translateY(0); transition: opacity 0.4s ease,transform 0.4s cubic-bezier(0.16, 1, 0.3, 1),visibility 0.4s;}
           .Calendar-main  .top-search-container{max-width: unset ;}
            .Calendar-main .top-search-form-control{border-radius: 0 !important; height: 42px !important;box-shadow: none !important;border-width: 0 0 1px 0 !important;}
            .Calendar-main .t-search-group .t-search-dropdown-menu{border: 0; border-radius: 0;box-shadow: none;transform: translate(0px, 0px) !important;}
            .Calendar-main .top-filter .dropdown-menu.more-list{border: 0; border-radius: 0;box-shadow: none;transform: translate3d(-6px, 0px, 0px) !important;height: calc(100dvh - 42px);}
            .Calendar-main .top-filter .dropdown-menu.more-list.search-create-filter-cmt{transform: translate3d(-6px, 0px, 0px) !important;}
            .Calendar-main .monile-back-btn{display: block;}
            .Calendar-main .search-icon{display: none;}
            .Calendar-main .top-filter .filter-footer{position: absolute;bottom:0px;width: 100%;background-color: #ffff;}
            .Calendar-main .t-search-dropdown-menu-home-action{max-height: unset !important;height: calc(100dvh - 42px);}
            .Calendar-main .top-filter .filter-body{height: calc(100dvh - 100px) !important;}
           .Calendar-main .all-search-result-show{position: absolute;width: 100%;bottom: 0;}
            .Calendar-main .two-sc-in{max-width: 100%}
            .Calendar-main .mobile-search-btn{display: flex !important;}        
        /* END:: search bar */

        /* STRAT:: Toolbar */
            .Tool-bar-box{padding: 10px;}
            .more-actions-dropdown a{margin: 0;}
            /* .checkbox-group-2 {justify-content: space-between;} */
            .Tool-bar-box{height: 53px;}
            .top-search-container{min-width: 320px;}
        /* END:: Toolbar */

        /* STRATT:: left side bar */      
            .single-navbar-collapse-sec{position: absolute;top: 27px;display: block;}
            .Tool-bar-box .pagination-cus{display: none;}
        /* END:: left side bar */

        /* START::right side bar*/
            main{justify-content: end;}
            .mail-message-box{width: 100%;height: calc(100vh - 108px);}
            .mail-details-box{height: calc(100vh - 55px) !important;}
            .mail-details-box .box-title {font-size: 16px;}
            .mail-message-send--information-details-box-mobile .application-btn-multi{min-width:68px;}
            .mail-message-send--information-details-box-mobile .react-dropdown .dropdown-menu{margin-top: 4px;margin-right: -5px;}
            .mail-received-table-news{height: calc(100vh - 108px);}
            .mailReceivedTableNewsSimpleBar {height: calc(100vh - 108px);}
            .mail-message-box .mail-list-filter + .mail-received-table-news .mailReceivedTableNewsSimpleBar {height: calc(100vh - 148px);}
        /* END::right side bar */


        /* START:: Calender page */
        

        /* START:: Left side */
            .calendar-body-box{display: flex; flex-direction: column;         height: calc(100dvh - 55px);overflow: hidden;}
            .Calendar-main .left-side-calendar-box {position: relative;min-width: 100% !important;width: 100% !important;height: auto !important;border-radius:0 !important;flex: 0 0 auto; transition: all 0.3s ease;}
            .Calendar-main #sidebar-calendar .fc-col-header thead tr {display: flex;justify-content: end;justify-content: space-around;max-width: calc(100% - 50px);margin-left: 49px; border-left: 1px dashed #d0d9de30 !important;}
            .Calendar-main #sidebar-calendar .fc-scrollgrid-sync-table {border-left: none !important;width: calc(100% - 50px) !important;}
            .Calendar-main #sidebar-calendar .fc-col-header-cell:not(.fc-week-number):first-of-type{border:0 !important; }
            .Calendar-main .fc .fc-scroller-liquid-absolute{height: 100% !important;border-radius: 0 0 0 8px;}
            .Calendar-main #calendar .fc-dayGridMonth-view .fc-scrollgrid-sync-table{height: calc(100vh - 110px) !important;}
            .fc .fc-scrollgrid-liquid{border: 0;}
        /* END:: Left side */

        /* END:: Calender page */
    }

    @media screen and (max-width:768px){       

         /* START:: Top Search */
            .top-search {width: 100%;position: absolute;background: #F5F5F5;left: 0;top: 0;height: 100%;z-index: 1;border-bottom: 1px solid #D0D9DE;z-index: 25;margin: 0; opacity: 0;visibility: hidden;}
            .show-search{opacity: 1;visibility: visible;transform: scale(1) translateY(0); transition: opacity 0.4s ease,transform 0.4s cubic-bezier(0.16, 1, 0.3, 1),visibility 0.4s;}
            .top-search-container{max-width: unset ;}
            .top-search-form-control{border-radius: 0 !important; height: 42px !important;box-shadow: none !important;border-width: 0 0 1px 0 !important;}
            .t-search-group .t-search-dropdown-menu{border: 0; border-radius: 0;box-shadow: none;transform: translate(0px, 0px) !important;}
            .top-filter .dropdown-menu.more-list{border: 0; border-radius: 0;box-shadow: none;transform: translate3d(-6px, 0px, 0px) !important;height: calc(100dvh - 42px);}
            .top-filter .dropdown-menu.more-list.search-create-filter-cmt{transform: translate3d(-6px, 0px, 0px) !important;}
            .monile-back-btn{display: block;}
            .search-icon{display: none;}
            .top-filter .filter-footer{position: absolute;bottom:0px;width: 100%;background-color: #ffff;}
            .t-search-dropdown-menu-home-action{max-height: unset !important;height: calc(100dvh - 42px);}
            .top-filter .filter-body{height: calc(100dvh - 100px) !important;}
            .all-search-result-show{position: absolute;width: 100%;bottom: 0;}
            .two-sc-in{max-width: 100%}
            .mobile-search-btn{display: flex !important;}        
        /* END:: search bar */

        
    }

    @media screen and (max-width:575px){
        /* START:: Button */
            .btn-new-icon-mobile {border: 0;padding: 2px !important;min-width: unset !important;}
            .btn-new-icon-mobile:hover{background-color: #E5E8EA;}
            .btn-new-icon-mobile span{display: none !important;}
            .btn-new-icon-mobile img{margin: 0 !important;}
            .drag-handle-btn {visibility: hidden;opacity: 0;}
            .expand-btn-com {visibility: hidden;opacity: 0;}
            .compose-btn{display: none !important;}
            .INBOX-main .compose-btn{display: flex !important;}
        /* END:: Button */

        /* STRAT:: header */
            .mail-details-header {padding: 6px 12px;}
            .mail-profile-dropdown .dropdown-menu.dropdown-menu-lg-end.mail-profile-box.p-0.dropdown-menu {position: fixed !important;top: 0 !important;left: 0  !important;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center; transform:unset !important;border: 0;border-radius: 0;}
            .mail-profile-close-btn-mobile{display: flex !important;}
            .mail-profile-close-btn-mobile {position: absolute;top: 10px;right: 10px;}    
            .profile-sec-new-box {width: 100%;height: 100%;background-color: #F5F5F5;border-radius: 0;box-shadow: none;border: 0 !important;} 
            .profile-footer {position: absolute;width: 100%;bottom: 0;} 
            .profile-sec-people {max-width: 100%;height: 230px;}
            .profile-sec-people::before{background-size:cover;}
            .profile-sec-people-sub-mail-profile-name {font-size: 14px;}
            .profile-sec-people-sub-mail-profile-id {font-size: 13px;}
            .profile-link {padding: 6px 8px;font-size: 14px;}
        /* END:: header */

        /* START:: Toolbar */
            
        /* END:: Toolbar */

         /* STRAT:: Inbox */
            .box-title {font-size: 16px;}
        /* END:: Inbox */

        /* STRATT:: left side bar */
            .compose-box {position: fixed;right: 10px;bottom: 10px;margin: 0;}
            .left-side-bar-main nav{height: calc(100vh - 71px);}
            .left-side-bar-main {position: absolute !important;z-index: 30;left: -200px;border-right:0;box-shadow: none;  transition: left 0.4s ease;}
            .left-sidebar-main-collapsed-mobile{left: 0;transition: all 0.4s ease; border-right:1px solid #BBC0C4;box-shadow: 1px 0px 4px 0px #0000001F;}
            .left-sidebar-main-collapsed {width: 200px;min-width: 200px;max-width: 200px;left: -200px;z-index: 50;border: 0;box-shadow: none;}
            .nav-collepse-button{display: none;}
            .nav-collepse-button-mobile{display: flex;}
            .single-navbar-collapse-sec{top: 50%; display: none;}
            .single-navbar-collapse-sec-mobile{width: 45px; right: -45px; background: transparent;box-shadow: none;top: 27px; display: none;}
        /* END:: left side bar */

        /* START::right side bar*/
            .right-side-bar-main{width: calc(100% - 0px);border-radius: 0 !important; box-shadow: none !important;border: 0;}
            .mail-message-box{border-radius: 0;height: calc(100vh - 97px);}
        /* END::right side bar */

        /* START: General modal */
            .modal-header {background-color: transparent;border-bottom: 0;}
            .modal-content {background-color: #ffff ;border: 0;border-radius: 18px 18px 0 0;box-shadow: 0px -6px 12px 0px rgba(0, 0, 0, 0.1);}
            .modal.fade{overflow: hidden;}
            .modal-content-shadow{margin:0 !important;max-width:100% !important;inset: unset !important; bottom: 0 !important;width: 100% !important;}
            .modal-content-shadow.modal-show-open > div { animation: fadeUp 0.3s ease-out forwards;}
            @keyframes fadeUp {from {opacity: 0;transform: translateY(100%);}to {opacity: 1;transform: translateY(0);}}
        /* END: General modal */
                
        /* START:: Compose modal */            
            .compose-modal-unexpand {width: 100% !important;max-width: 100% !important;inset: unset !important;}
            .compose-email-modal .modal-dialog-scrollable {height: 100vh; }
            .compose-email-modal .modal-dialog{margin: 0 !important;}
            .compose-email-modal .modal-header {background-color: transparent;border-bottom: 0;}
             /* .compose-email-modal .modal-header .drag-handle-btn{display: none;} */
            .compose-email-modal .modal-content {border: 0;box-shadow: none !important;background-color: #fff;border-radius: 0;}
            .ComposeModalSimpleBar {max-height: calc(100vh - 100px);}
            #composeEmailModal .ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, #composeEmailModal .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners {
            height: calc(100dvh - 233px) !important;}
            .compose-email-modal{ animation: fadeDown 0.3s ease-out forwards !important;}
            @keyframes fadeDown {from {opacity: 0;transform: translatex(-100%);}to {opacity: 1;transform: translatex(0);}}
            .compose-email-modal .modal-header .modal-title-center{left: 13px;transform: unset !important;}
            /* .compose-email-modal .btn-close, .modal-title{display: none;} */
        /* END:: Compose modal */

        /* START:: Schedule */
            .modal-schedule-box .modal-dialog{
                max-width: 100%
            }
        /* END:: Schedule */

        /* START:: Flatpicker-calendar */
            body .flatpickr-calendar {display: none;z-index: 99999;bottom: -100%;top: unset !important;left: 0 !important;width: 100%;
            border-radius: 18px 18px 0 0;border: 0;transition: all 0.4s ease-in-out;}
            body .flatpickr-calendar.open{bottom: 0 !important;display: inline-block;}
            body .flatpickr-months .flatpickr-prev-month, body .flatpickr-months .flatpickr-next-month{border: 0;}
            body .flatpickr-month .flatpickr-current-month{gap: 74px;}
            body .flatpickr-innerContainer{justify-content: center;}
        /* END:: Flatpicker-calendar */
    
        /* START:: Setting */
            .setting-features {padding: 12px !important;}
        /* END:: Setting */


        
    }

    @media screen and (max-width:425px){
       
    }
/* END:: General Responsive css */


