.login-main {
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.login-main-gradiant {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(185deg,rgba(7, 8, 15, 1) 0%, rgba(20, 36, 46, 1) 34%, rgba(23, 41, 51, 1) 40%, rgba(0, 151, 239, 1) 60%, rgba(225, 232, 235, 1) 86%); */
}

.login-main-gradiant::after {
    content: "";
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(88px);
    z-index: 3;
}

.login-left {
    background: linear-gradient(180deg, #07080F 0%, #172933 40%, #0097EF 60%, #E1E8EB 100%);
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: 140% 120%;
    animation: moveGradientLeft 4s ease-in-out infinite;
}

.login-right {
    background: linear-gradient(-179.69deg, #FFFFFF -57.88%, #FFB800 24.15%, #FF9900 35.83%, #312719 61.75%);
    clip-path: polygon(100% 0, 100% 100%, 0 0%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: 140% 120%;
    animation: moveGradientRight 4s ease-in-out infinite;
}

@keyframes moveGradientLeft {
    0% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 100% 0%;
    }
}

@keyframes moveGradientRight {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.login-main-content-section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.login-title {
    max-width: 600px;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
}

.login-main-right-section {
    height: auto;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: auto;
}


.login-box-main {
    padding: 20px;
    width: 388px;
    height: auto;
    margin: 114px 0 0 0;
}

.brand-logo-login {
    margin-bottom: 36px;
    display: block;
}

.login-box-main .form-group .control-label {
    font-size: 13px;
}

.login-box-main .form-group .form-control {
    height: 30px;
    line-height: 30;
    box-shadow: 0px 1px 3px 0px #0000001F inset;
    padding: 7px 7px 7px 7px;
}

.login-box-main .form-group .otp-input{
    width: 30px;
    margin: 5px;
}

.login-box-main .form-group:has(.input-icon-add) .form-control {
    padding: 7px 7px 7px 30px;
}

.login-box-main .form-group:has(.input-icon-2) .form-control {
    padding: 7px 30px 7px 30px;
}

.form-group .select2-container--default .select2-selection--single {
    line-height: 30px;
}

body .select2-container--default .select2-search--dropdown .select2-search__field:focus-visible {
    outline: 0;
    box-shadow: none;
}

body .select2-container--default .select2-search--dropdown .select2-search__field:focus {
    border-color: #0097EF;
    box-shadow: 0 0 0 3px #E3F2FB !important;
}

body .select2-container--default .select2-search--dropdown .select2-search__field {
    font-weight: 400;
    color: #212121;
}

.input-icon-add {
    position: relative;
    min-height: 30px;
}

.form-group .select2-container .select2-selection--single .select2-selection__rendered {
    color: #717D84;
    padding: 0 0 0 28px;
    font-size: 12px;
    box-shadow: 0px 1px 3px 0px #0000001F;
    line-height: 30px;
}

.form-group .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 36px;
    height: 30px;
    background: url(../images/chevron-down-icon.svg) 50% 50% no-repeat;
}

.form-group .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
    background-image: url(../images/chevron-up-icon.svg) 50% 50% no-repeat;
    background-size: auto;
}

.login-box-main .link-ap {
    font-size: 13px;
}

.login-box-main .checkbox-custom label:after {
    background-image: url(../images/checkbox-check-box-blue.svg) !important;
}

.login-main .checkbox-custom input[type="checkbox"]:checked+input[type="hidden"]+label:before,
.login-main .checkbox-custom input[type="checkbox"]:checked+label:before,
.login-main .checkbox-custom input[type="radio"]:checked+input[type="hidden"]+label:before,
.login-main .checkbox-custom input[type="radio"]:checked+label:before {
    background-image: url(../images/chekbox-fram-icon-blue.svg);
}

.login-box-main .checkbox-custom input[type="checkbox"]:checked+input[type="hidden"]+label:before,
.checkbox-custom input[type="checkbox"]:checked+label:before,
.checkbox-custom input[type="radio"]:checked+input[type="hidden"]+label:before,
.checkbox-custom input[type="radio"]:checked+label:before {
    border-color: #0097EF !important;
    background-color: #fff;
    transition: all .3s ease-in-out 0s;
}

.btn-new {
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    height: 40px;
}

hr {
    margin: 20px 0;
    border-top: 1px solid #D0D9DE !important;
    opacity: 1;
}

.login-box-main p {
    font-weight: 400;
}

.error-input-text {
    color: #ee4646;
    font-size: 13px;
    font-weight: 400;
    margin: 6px 0 0 0;
    display: flex;
    align-items: center;
}

.breadcrumb-sec {
    min-width: 353px;
    padding-top: 80px;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: 500;
    color: #212121;
}

.breadcrumb-item.active {
    font-size: 16px;
    font-weight: 400;
    color: #212121;
    padding-left: 16px;
}

.breadcrumb-item+.breadcrumb-item::before {
    padding-right: 12px;
    content: "";
    background-image: url(../images/breadcrumb-icon.svg);
    width: 20px;
    height: 30px;
    background-repeat: no-repeat;
}

/* START:: Register box */
.Register-login-box {
    max-width: 500px;
    margin: 60px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.Register-login-box .brand {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.Register-login-box .brand img {
    width: 36px;
    height: 36px;
}

.Register-login-box .step-indicator {
    text-align: right;
    font-size: 14px;
    color: #999;
}

.Register-login-box .form-step {
    display: none;
}

.Register-login-box .form-step.active {
    display: block;
}

.Register-login-box .btn {
    border-radius: 8px;
}

.Register-login-box .form-footer {
    text-align: center;
    margin-top: 20px;
}

.form-step {
    display: none;
}

.form-step.active {
    display: block;
}

#stepCounter {
    font-size: 16px;
    font-weight: 400;
    color: #717D84;
}

#stepCounter .stepCounter-active {
    color: #212121;
}

.progress-line-wrapper {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    gap: 15px;
    top: 20px;
    left: 50%;
    /* transform: translate(-50%, 0); */
    margin: 20px 0 0 0;
}

.progress-segment {
    min-width: 106px;
    height: 4px;
    background-color: #BBC0C4;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.progress-segment.active {
    background-color: #0097EF;
}

.automatically-inf-details {
    margin-bottom: 22px;
}

.input-group-re-size {
    min-width: 268px;
}

.input-group-re-size-2 {
    max-width: 64px;
}

.login-box-main .btn-new:has(img) {
    padding: 10px 10px;
}

.h-100vh {
    height: 100vh !important;
}

/* START:: success page */
.successfully-error-box {
    text-align: center;
}

.successfully-error-box .status-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pop 0.6s ease;
    margin: auto;
}

.successfully-error-box.success .status-icon {
    background-color: #2ecc71;
    /* Green */
}

.successfully-error-box.error .status-icon {
    background-color: #e74c3c;
    /* Red */
}

@keyframes pop {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.successfully-error-box .status-svg {
    width: 50px;
    height: 50px;
}

.successfully-error-box.success .status-svg path {
    stroke: #fff;
    stroke-width: 3;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: draw 0.5s ease forwards 0.4s;
}

.successfully-error-box.error .status-svg path {
    stroke: #fff;
    stroke-width: 3;
    stroke-dasharray: 40;
    stroke-dashoffset: 40;
    animation: draw 0.5s ease forwards 0.4s;
}

.successfully-error-box.error .status-svg path:nth-child(2) {
    animation-delay: 0.6s;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.successfully-error-box .status-message {
    margin:16px 0 24px 0;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.successfully-error-box.success .status-message {
    /* background-color: #d4edda; */
    color: #155724;
    /* border: 1px solid #c3e6cb; */
}

.successfully-error-box.error .status-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* START:: loading box */
.loading-box {
    text-align: center;
}

.loading-box .loading-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pop 0.6s ease;

}

.loading-box .spinner {
    border: 4px solid #ababab55;
    border-top: 4px solid #0097EF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loading-box .loading-message {
    margin-top: 20px;
    background-color: #d6eaff;
    color: #0097EF;
    padding: 6px 20px;
    border: 1px solid #0097EF;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* END:: loading box */

/* START:: otp */
.form-group .otp-input-cls {
    display: flex;
    margin: 0 -5px;
    justify-content: center;
}

.form-group .otp-input-cls .input-control {
    padding: 5px;
    width: 100%;
    max-width: 40px;
}

.form-group .otp-input-cls .input-control .form-control {
    padding: 0;
}

/* END:: otp */
.login-main .login-main-right-section.h-100vh {
    height: calc(100vh - 40px) !important;
}


.register .power-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.register .power-by-box {
    padding: 20px;
}